<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="stylesheet" href="https://odprojekt.tk/static/styles.css"/>
    </head>
    <body>
        <section>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signin">Sing-in</a></li>
                <li><a href="/signup">Sign-up</a></li>
                <li><a href="/forget">Forgot Passowrd</a></li>
                <li><a href="/signout">Sign-out</a></li>
                <li><a href="/add/{{token}}">Add snippet</a></li>
                <li><a href="/upload/{{token}}">Upload file</a></li>
                <li><a href="/change/{{token}}">Change password</a></li>

            </ul>
            <p id="message">{{ message }}</p>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
                        <h1>Recent post</h1>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {% for row in snippets_values %}
                        <tr>
                            <td><a href="https://odprojekt.tk/view/{{ row['id'] }}">{{ row['name']|e }}</a></td>
                            <td>{{ row['login']| e }}</td>
                            <td>{{ row['time'] | e }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                        <h1>Your recent uploads</h1>

                        <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {% for row in uploads_values %}
                        <tr>
                            <td><a href="/download/{{row['id']}}">{{ row['filename']|e }}</a></td>
                            <td>{{ row['time'] | e }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>